@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 300;
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("./fonts/Neucha-Regular.ttf");
}

body {
  font-family: OpenSans, sans-serif;
  color: #2A2626;
  line-height: 1.6em;
  font-size: 16px;
}

h1, h2, h3 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

div {
  max-width: 1110px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

header::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
