:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 300;
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("./fonts/Neucha-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, sans-serif;
  color: var(--dark);
  line-height: 1.6em;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

h1, h2, h3 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.d-flex {
  display: flex;
}

.img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.text-orange {
  color: var(--primary);
}

.text-dark {
  color: var(--dark);
}

.font-text {
  font-family: Neucha, sans-serif;
  font-weight: 400;
}

.column {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.flex-50 {
  flex-basis: 50%;
}

.bg-color-light {
  background-color: var(--light);
}

.bg-color-primary-dark {
  background-color: var(--primary-dark);
}
